# DTSC670: Foundations of Machine Learning Models
## Assignment 4: Custom Transformer and Transformation Pipeline

#### Name:

### CodeGrade
Note that this assignment will be automatically graded through CodeGrade and you will have unlimited submission attempts.  When submitting to CodeGrade, your notebook should be named `assignment4.ipynb` and there should be no errors in the file or CodeGrade will not be able to grade it.  Before submitting, I suggest that you restart your kernel and attempt to run all cells again to ensure that there will be no errors when CodeGrade runs your script.

### Details
Your task in this assignment is to create a custom transformation pipeline that takes in raw data and returns fully prepared, clean data that is ready for model training.  However, we will not actually train any models in this assignment.  This pipeline will employ an imputer class, a user-defined transformer class, and a data-normalization class.

Please note that the order of features in the final feature matrix must be correct.  See the below figure that illustrates the input and output of the transformation pipeline.  The positions of features $x_1$ and $x_2$ do not change - they remain in the first and second columns, respectively, both before and after the transformation pipeline.  In the transformed dataset, the $x_5$ feature is next, and is followed by the newly computed feature $x_6$.  Finally, the last two columns are the remaining one-hot vectors obtained from encoding the categorical feature $x_3$.

<img src="DataTransformation.png " width ="500" />

# Import Data

- Make sure that your notebook and data file are located in the same folder since this is what CodeGrade will be expecting.  
- Import the data from the file called `CustomTransformerData.csv` and call this DataFrame `custom_transform`.  
- Output the `custom_transform` DataFrame to see the data.

In [1]:
import pandas as pd
import numpy as np

custom_transform = pd.read_csv('CustomTransformerData.csv')
custom_transform

      x1         x2    x3    x4          x5
0    1.5   2.354153  COLD   593    0.750000
1    2.5   3.314048  WARM   340    2.083333
2    3.5   4.021604  COLD   551    4.083333
3    4.5        NaN  COLD  2368    6.750000
4    5.5   5.847601  WARM  2636   10.083333
5    6.5   7.229910  WARM  2779   14.083333
6    7.5   7.997255   HOT  1057   18.750000
7    8.5   9.203947  COLD   819   24.083333
8    9.5  10.335348  WARM  3349         NaN
9   10.5  11.112142   HOT  3235   36.750000
10  11.5  11.759611  WARM   216   44.083333
11  12.5  12.629096  WARM  2529   52.083333
12  13.5  14.082589  COLD  1735   60.750000
13  14.5  14.657678   HOT  1254   70.083333
14  15.5        NaN   HOT  1245   80.083333
15  16.5  17.184114  WARM   310   90.750000
16  17.5  17.800776   HOT   201  102.083333
17  18.5  18.578861   HOT  1767  114.083333

# Create Numeric and Categorical DataFrames

- Create two new DataFrames: 
  - Create one DataFrame called `data_num` that holds the numeric features from the `custom_transform` DataFrame.  
  - Create another DataFrame called `data_cat` that holds the categorical feature from `custom_transform`.

In [2]:
data_num = custom_transform.drop('x3', axis=1)
data_num

      x1         x2    x4          x5
0    1.5   2.354153   593    0.750000
1    2.5   3.314048   340    2.083333
2    3.5   4.021604   551    4.083333
3    4.5        NaN  2368    6.750000
4    5.5   5.847601  2636   10.083333
5    6.5   7.229910  2779   14.083333
6    7.5   7.997255  1057   18.750000
7    8.5   9.203947   819   24.083333
8    9.5  10.335348  3349         NaN
9   10.5  11.112142  3235   36.750000
10  11.5  11.759611   216   44.083333
11  12.5  12.629096  2529   52.083333
12  13.5  14.082589  1735   60.750000
13  14.5  14.657678  1254   70.083333
14  15.5        NaN  1245   80.083333
15  16.5  17.184114   310   90.750000
16  17.5  17.800776   201  102.083333
17  18.5  18.578861  1767  114.083333

In [3]:
data_cat = custom_transform[['x3']].copy()
data_cat

      x3
0   COLD
1   WARM
2   COLD
3   COLD
4   WARM
5   WARM
6    HOT
7   COLD
8   WARM
9    HOT
10  WARM
11  WARM
12  COLD
13   HOT
14   HOT
15  WARM
16   HOT
17   HOT

# Create Custom Transformer

Create a custom transformer, just as we did in the lecture video entitled "Custom Transformers", that performs two computations: 

1. Adds an attribute to the end of the numerical data (i.e. new last column) that is equal to $\frac{x_1^3}{x_5}$ for each observation.  In other words, for each instance, you will cube the $x_1$ column and then divide by the $x_5$ column.

2. Drops the entire $x_4$ feature column if the passed function argument `drop_x4` is `True` and doesn't drop the column if `drop_x4` is `False`. (See further instructions below.)

You must name your custom transformer class `Assignment4Transformer`. Your class should include an input parameter called `drop_x4` with a default value of `True` that deletes the $x_4$ feature column when its value is `True`, but preserves the $x_4$ feature column when you pass a value of `False`.

This transformer will be used in a pipeline. In that pipeline, an imputer will be run *before* this transformer. Keep in mind that the imputer will output an array, so **this transformer must be written to accept an array.**  This is very important and a cause of many errors that students encounter.  In other words, think about using NumPy in your transformer instead of Pandas.

Additionally, this transformer will ONLY be given the numerical features of the data. The categorical feature will be handled elsewhere in the full pipeline. This means that your code for this transformer **must reflect the absence of the categorical $x_3$ column** when indexing data structures.  Again this is very important and a cause of the second most number of errors that students encounter.

In [4]:
from sklearn.base import BaseEstimator, TransformerMixin

# column index from the data df
x1, x5 = 0, 3

class Assignment4Transformer(BaseEstimator, TransformerMixin):
    def __init__(self, drop_x4 = True): 
        self.drop_x4 = drop_x4
    def fit(self, X, y=None):
        return self  
    def transform(self, X):
        x6 = (X[:, x1])**3 / X[:, x5]
        
        if self.drop_x4:
            return np.c_[X[:,[0,1,3]], x6]
        else:
            return np.c_[X, x6]

In [5]:
#transformer = Assignment4Transformer()
#transformer.transform(data_num.values)

# Create Transformation Pipeline for Numerical Features

Create a custom transformation pipeline for only the numeric data called `num_pipeline` that:

1. Applies the `SimpleImputer` class to the data, where the strategy is set to `mean`.  The name of this step should be "imputer".

2. Applies the custom `Assignment4Transformer` class to the data.  Make sure that your custom transformer uses the default argument where you drop the $x_4$ column.  The name of this step should be "custom_trans".

3. Applies the `StandardScaler` class to the data.  The name of this step should be "std_scaler".

In [6]:
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([
                ('imputer', SimpleImputer(strategy = 'mean')),
                ('custom_trans', Assignment4Transformer()),
                ('std_scaler', StandardScaler())])

# Quick Testing

The full pipeline will be implemented with a `ColumnTransformer` class.  However, to be sure that our numeric pipeline is working properly, lets invoke the `fit_transform()` method of the `num_pipeline` object passing it your `data_num` DataFrame.  Save this output data into a variable called `data_num_trans`.

### Run Pipeline and Create Transformed Numeric Data

In [7]:
data_num_trans = num_pipeline.fit_transform(data_num)
data_num_trans

array([[-1.63835604, -1.72914963, -1.19507691, -1.59050349],
       [-1.44560827, -1.52555901, -1.15738431, -1.39982426],
       [-1.2528605 , -1.37548847, -1.10084543, -1.20914502],
       [-1.06011273,  0.        , -1.02546024, -1.01846579],
       [-0.86736496, -0.9882004 , -0.93122876, -0.82778656],
       [-0.67461719, -0.69501705, -0.81815098, -0.63710732],
       [-0.48186942, -0.53226557, -0.68622691, -0.44642809],
       [-0.28912165, -0.27633017, -0.53545654, -0.25574886],
       [-0.09637388, -0.03636359,  0.        , -0.6099295 ],
       [ 0.09637388,  0.128392  , -0.17737691,  0.12560961],
       [ 0.28912165,  0.26571811,  0.02993235,  0.31628884],
       [ 0.48186942,  0.4501331 ,  0.25608791,  0.50696808],
       [ 0.67461719,  0.75841437,  0.50108976,  0.69764731],
       [ 0.86736496,  0.88038895,  0.76493791,  0.88832654],
       [ 1.06011273,  0.        ,  1.04763235,  1.07900578],
       [ 1.2528605 ,  1.41623801,  1.34917309,  1.26968501],
       [ 1.44560827,  1.54702995,  1.66956013,  1.46036424],
       [ 1.63835604,  1.71205941,  2.00879346,  1.65104348]])

### One-Hot Encode Categorical Features

Similarly, you will employ a `OneHotEncoder` class in the `ColumnTransformer` below to construct the final full pipeline.  However, let's instantiate an object of the `OneHotEncoder` class to use in the `ColumnTransformer`.

1. Call this object `cat_encoder` that has the `drop` parameter set to `first`.  
2. Also, include `sparse=False` when instantiating the object to make the auto grading work correctly.  
3. Next, call the `fit_transform()` method and pass it your categorical data (`data_cat`).  
4. Save this output data into a variable called `data_cat_OHE`.

In [8]:
from sklearn.preprocessing import OneHotEncoder

cat_encoder = OneHotEncoder(drop='first',sparse=False)
data_cat_OHE = cat_encoder.fit_transform(data_cat)
data_cat_OHE

array([[0., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.]])

# Put it All Together with a Column Transformer

Now, we are finally ready to construct the full transformation pipeline called `full_pipeline` that will transform our raw data into clean, ready-to-train data.  
1. Construct this `ColumnTransformer` below.  Note that you will use:
  - the `num_pipeline` in the full_pipeline with your numeric data
  - the `cat_encoder` object in the full_pipeline with your categorical data
2. Call the `fit_transform()` method on the original `custom_transform` data to obtain the final, clean data.  
3. Save this output data into a variable called `data_trans`.

In [9]:
from sklearn.compose import ColumnTransformer

num_att = list(data_num)
cat_att = list(data_cat)

full_pipeline = ColumnTransformer([
    ('num', num_pipeline, num_att),
    ('cat', cat_encoder, cat_att)
])

data_trans = full_pipeline.fit_transform(custom_transform)

# Prepare for Grading

Prepare your `data_trans` NumPy array for grading by running the code below.  We are using the NumPy [around()](https://numpy.org/doc/stable/reference/generated/numpy.around.html) function to round all the values to 2 decimal places and this will return a NumPy array.

Please double check that the final order of the features in this `data_trans` array matches what was given to you at the top of this document.

In [10]:
### DO NOT CHANGE THIS CELL BLOCK ###
data_trans = np.around(data_trans, decimals=2)
data_trans

array([[-1.64, -1.73, -1.2 , -1.59,  0.  ,  0.  ],
       [-1.45, -1.53, -1.16, -1.4 ,  0.  ,  1.  ],
       [-1.25, -1.38, -1.1 , -1.21,  0.  ,  0.  ],
       [-1.06,  0.  , -1.03, -1.02,  0.  ,  0.  ],
       [-0.87, -0.99, -0.93, -0.83,  0.  ,  1.  ],
       [-0.67, -0.7 , -0.82, -0.64,  0.  ,  1.  ],
       [-0.48, -0.53, -0.69, -0.45,  1.  ,  0.  ],
       [-0.29, -0.28, -0.54, -0.26,  0.  ,  0.  ],
       [-0.1 , -0.04,  0.  , -0.61,  0.  ,  1.  ],
       [ 0.1 ,  0.13, -0.18,  0.13,  1.  ,  0.  ],
       [ 0.29,  0.27,  0.03,  0.32,  0.  ,  1.  ],
       [ 0.48,  0.45,  0.26,  0.51,  0.  ,  1.  ],
       [ 0.67,  0.76,  0.5 ,  0.7 ,  0.  ,  0.  ],
       [ 0.87,  0.88,  0.76,  0.89,  1.  ,  0.  ],
       [ 1.06,  0.  ,  1.05,  1.08,  1.  ,  0.  ],
       [ 1.25,  1.42,  1.35,  1.27,  0.  ,  1.  ],
       [ 1.45,  1.55,  1.67,  1.46,  1.  ,  0.  ],
       [ 1.64,  1.71,  2.01,  1.65,  1.  ,  0.  ]])